body{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

a{
	color: #00B7FF;
}

form{
	text-align: center;
}

#start{
	display: inline-block;
	vertical-align: middle;
}

#session-prompt{
	text-align: left;
	display: inline-block;
}

#session-input{
	text-align: left;
	display: inline-block;
}

button{
	border: 0px;
}

button[class="smooth"]:hover{
	color: #36AAFF;
	background-color: #FFFFFF;
	padding: 14px;
	border: 1px solid;
}

.smooth{
	color: #FFFFFF;
	background-color: #36ACFF;
	padding: 15px;
	margin: 5px;
	border-radius: 8px;
}

.quarter-width{
	display: inline-block;
	width: 24%;
}

.three-quarter-width{
	width: 74%;
	display: inline-block;
}
