<div class="quarter-width">
	<div class="half-height">
		<h2>Landmarks</h2>
		<div ng-repeat="landmark in landmarks">
			<div ng-bind="landmark"></div>
		</div>
	</div>
	<div class="half-height">
		<h2>Contacts</h2>
		<div ng-repeat="contact in contacts">
			<div ng-bind="contact"></div>
		</div>
	</div>
</div>
<div class="three-quarter-width">
	<iframe
		width="600"
		height="450"
		frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCdW0Lm6O4G7x4rEgjy8sPLa0zUFg09gBk&q=Space+Needle,Seattle+WA" allowfullscreen>
	</iframe>
</div>
